@page "/brewery/{id}"
@using CA3Brewery.Brewery
@inject IBreweryService BreweryService
@inject NavigationManager Navigation
@using System.Collections.Generic

<PageTitle>Brewery Details</PageTitle>
<h2><strong>Brewery Details</strong></h2>
@if (selectedBrewery != null)
{
    <table class="table table-sm table-striped table-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Name:</th>
          <td>@selectedBrewery.Name</td>
        </tr>
        <tr>
          <th scope="row">Brewery Type:</th>
          <td>@selectedBrewery.Brewery_type</td>

        </tr>
        <tr>
          <th scope="row">Address:</th>
          <td>@selectedBrewery.Street</td>
        </tr>
        <tr>
          <th scope="row">City:</th>
          <td>@selectedBrewery.City</td>
        </tr>
        <tr>
          <th scope="row">State:</th>
          <td>@selectedBrewery.State</td>
        </tr>
        <tr>
          <th scope="row">Country:</th>
          <td>@selectedBrewery.Country</td>
        </tr>
        <tr>
          <th scope="row">Website URL:</th>
          <td>
              <a href="@selectedBrewery.Website_url" target="_blank">@selectedBrewery.Website_url</a>
          </td>
        </tr>
      </tbody>
    </table>
}

<button class="btn btn-secondary" @onclick="Return">Return</button>

@if (Error != null)
{
    <p>Error: @Error</p>
}

@code {
    [Parameter]
    public string? Id { get; set; }
    private BreweryItem? selectedBrewery;
    public string? Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            selectedBrewery = await BreweryService.GetBreweryDetails(Id);
        }
        catch (Exception e)
        {
            Error = e.Message;
            Console.WriteLine(Error);
        }
    }

    private void Return()
    {

        Navigation.NavigateTo("/");

    }
}
