@page "/random"
@inject NavigationManager Navigation
@using CA3Brewery.Brewery
@inject IBreweryService BreweryService
@using Newtonsoft.Json

@inject HttpClient Http

<h2><strong>Random Brewery</strong></h2>

@if (RandomBrewery != null)
{
    <table class="table table-sm table-striped table-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Name:</th>
          <td>@RandomBrewery.Name</td>
        </tr>
        <tr>
          <th scope="row">Brewery Type:</th>
          <td>@RandomBrewery.Brewery_type</td>

        </tr>
        <tr>
          <th scope="row">Address:</th>
          <td>@RandomBrewery.Street</td>
        </tr>
        <tr>
          <th scope="row">City:</th>
          <td>@RandomBrewery.City</td>
        </tr>
        <tr>
          <th scope="row">State:</th>
          <td>@RandomBrewery.State</td>
        </tr>
        <tr>
          <th scope="row">Country:</th>
          <td>@RandomBrewery.Country</td>
        </tr>
        <tr>
          <th scope="row">Website URL:</th>
          <td>@RandomBrewery.Website_url</td>
        </tr>
      </tbody>
    </table>
}

<button class="btn btn-secondary" @onclick="Return">Return</button>


@if (Error != null)
{
    <p>Error: @Error</p>
}

@code {
    public BreweryItem? RandomBrewery { get; set; }
    public string? Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Initialize the HttpClient instance in the OnInitializedAsync method
        Http = new HttpClient();

        try
        {
            var breweryService = new BreweryService(Http);
            RandomBrewery = await BreweryService.GetRandomBrewery();
        }
        catch (Exception e)
        {
            Error = e.Message;
            Console.WriteLine(Error);
        }
    }

    private void Return()
    {

        Navigation.NavigateTo("/");

    }
}
