@page "/"
@using CA3Brewery.Brewery
@inject IBreweryService BreweryService
@using System.Collections.Generic
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Navigation

@inject HttpClient Http

<PageTitle>Brewery</PageTitle>
<h1>List Of Breweries</h1>
<br/>

@code {
    //<div>
    //<label>Select page:</label>
    //@for (int i = 1; i <= 5; i++)
    //{
    //<button class="btn btn-secondary" @onclick="() => SelectPage(i)">@i</button>
    //}
    //</div>
}

<div>
    <label>Select page:</label>
    <button class="btn btn-secondary" @onclick="() => SelectPage(1)">1</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(2)">2</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(3)">3</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(4)">4</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(5)">5</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(6)">6</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(7)">7</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(8)">8</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(9)">9</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(10)">10</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(11)">11</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(12)">12</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(13)">13</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(14)">14</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(15)">15</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(16)">16</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(17)">17</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(18)">18</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(19)">19</button>
    <button class="btn btn-secondary" @onclick="() => SelectPage(20)">20</button>
</div>

<div>
    <div class="card-columns">
        <div class="row d-flex">
            @foreach (var brewery in breweries)
            {
                <div class="col-sm-4 mt-3">
                    <div class="card" @onclick="@(() => NavigateToBreweryDetails(brewery.Id))">
                        <div class="card-body">
                            <h6 class="card-title">@brewery.Name</h6>
                            <p class="card-text">Brewery Type: @brewery.Brewery_type</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if (Error != null)
{
    <p>Error: @Error</p>
}

@code {
    private List<BreweryItem> breweries = new List<BreweryItem>();
    public string? Error { get; set; }
    private int selectedPage = 1;

    protected override async Task OnInitializedAsync()
    {
        //
        Http = new HttpClient();

        try
        {
            var breweryService = new BreweryService(Http);
            breweries = await BreweryService.GetBrewery(selectedPage);
        }
        catch (Exception e)
        {
            Error = e.Message;
            Console.WriteLine(Error);
        }
    }

    //navigation
    private void NavigateToBreweryDetails(string id)
    {
        Navigation.NavigateTo($"/brewery/{id}");
    }

    private async Task SelectPage(int page)
    {
        selectedPage = page;
        await OnInitializedAsync();
    }

}

