@page "/"
@using CA3Brewery.Brewery
@inject IBreweryService BreweryService
@using System.Collections.Generic
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Navigation

@inject HttpClient Http

<PageTitle>Brewery</PageTitle>
<h1>Brewery List</h1>
<br />

<button class="btn btn-primary mt-3" @onclick="OnInitializedAsync">Back</button>
<button class="btn btn-primary mt-3" @onclick="NavigateRandom">Random</button>

<div class="form-group">
    <label for="searchInput">Search for a brewery:</label>
    <input type="text" class="form-control" id="searchInput" @bind="searchQuery" />
    <button class="btn btn-primary mt-3" @onclick="SearchBreweries">Search</button>
</div>
<div>
    <div class="card-columns">
        <div class="row d-flex">
            @foreach (var brewery in breweries)
            {
                <div class="col-sm-4 mt-3">
                    <div class="card" @onclick="@(() => NavigateToBreweryDetails(brewery.id))">
                        <div class="card-body">
                            <h6 class="card-title">@brewery.name</h6>
                            <p class="card-text">Brewery Type: @brewery.brewery_type</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    //<div>
    //<label>Select page:</label>
    //@for (int i = 1; i <= 5; i++)
    //{
    //<button class="btn btn-primary" @onclick="() => SelectPage(i)">@i</button>
    //}
    //</div>
}

<div>
    <label>Select page:</label>
    <button class="btn btn-primary" @onclick="() => SelectPage(1)">1</button>
    <button class="btn btn-primary" @onclick="() => SelectPage(2)">2</button>
    <button class="btn btn-primary" @onclick="() => SelectPage(3)">3</button>
    <button class="btn btn-primary" @onclick="() => SelectPage(4)">4</button>
    <button class="btn btn-primary" @onclick="() => SelectPage(5)">5</button>
    <button class="btn btn-primary" @onclick="() => SelectPage(6)">6</button>
    <button class="btn btn-primary" @onclick="() => SelectPage(7)">7</button>
    <button class="btn btn-primary" @onclick="() => SelectPage(8)">8</button>
    <button class="btn btn-primary" @onclick="() => SelectPage(9)">9</button>
    <button class="btn btn-primary" @onclick="() => SelectPage(10)">10</button>
</div>



@code {
    private List<BreweryItem> breweries = new List<BreweryItem>();
    private string searchQuery = "";
    private BreweryItem selectedBrewery;
    public string Error { get; set; }
    private int selectedPage = 1;


    protected override async Task OnInitializedAsync()
    {
        //
        Http = new HttpClient();

        try
        {
            var breweryService = new BreweryService(Http);
            breweries = await BreweryService.GetBrewery(selectedPage);
        }
        catch (Exception e)
        {
            Error = e.Message;
            Console.WriteLine(Error);
        }
    }

    // Method to search for breweries
    private async Task SearchBreweries()
    {
        try
        {
            breweries = await BreweryService.SearchBreweries(searchQuery);
        }
        catch (Exception e)
        {
            Error = e.Message;
            Console.WriteLine(Error);
        }
    }

    //navigation
    private void NavigateToBreweryDetails(string id)
    {
        Navigation.NavigateTo($"/brewery/{id}");
    }

    private void NavigateBack()
    {
        Navigation.NavigateTo($"/");
    }

    private void NavigateRandom()
    {
        Navigation.NavigateTo($"/random");
    }

    private async Task SelectPage(int page)
    {
        selectedPage = page;
        await OnInitializedAsync();
    }

}


@if (Error != null)
{
    <p>Error: @Error</p>
}

@if (breweries.Count == 0)
{
    <p>No results found for search query for '@searchQuery'.</p>
}